<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="css/swiper.min.css">-->
    <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }
        
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }
        
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        
        .swiper-slide {
            background: #fff;
        }
        .textBox {
            position: absolute;
            transform-origin: 50% 50%;            
        }
        .picBox {
            position: absolute;
            background-size: cover;
            background-position: 50% 50%;
            transform-origin: 50% 50%;            
        }
    </style>
</head>

<body>
    <!-- Swiper -->
    <span
        id="userData"
        style="display: none"
        data-onMenuShareTimelineTitle="<%= title %>"
        data-onMenuShareTimelineLink="<%=  %>"
        data-onMenuShareTimelineImgUrl="<%= wechatSettings.img %>"
        data-onMenuShareAppMessageTitle="<%= title %>"
        data-onMenuShareAppMessageDesc="<%= wechatSettings.desc %>"
        data-onMenuShareAppMessageLink="<%=  %>"
        data-onMenuShareAppMessageImgUrl="<%= wechatSettings.img %>"
    ></span>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% pages.forEach(function(page){ %>

                <div class="swiper-slide">
                    <% page.text.forEach(function(item, index){ %>
                        <span
                            class="textBox"
                            style="font-size: <%= item.size %>px;
                                color: <%= item.color %>;
                                font-weight: <%= item.bold ? 'bold' : 'normal' %>;
                                transform: translate(<%= item.x %>px, <%= item.y %>px);
                                opacity: <%= item.opacity %>">
                            <%= item.content %>
                        </span>
                    <% }); %>
                    <% page.pic.forEach(function(item, index){ %>
                        <div
                            style="display: inline-block;
                                transform: translate(<%= item.x %>px, <%= item.y %>px)"
                        >
                            <span
                                class="picBox"
                                style="transform: rotate(<%= item.angle %>deg);
                                    background-image: url(<%= item.url %>);
                                    width: <%= item.width %>px;
                                    height: <%= item.height %>px;
                                    opacity: <%= item.opacity %>">
                            </span>
                        </div>
                    <% }); %>
                </div>

            <% }); %>
            <div class="swiper-slide">
                <input type="button" name="" value="点击分享" id="shareBtn">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <!--<script src="js/vendor/jquery-1.11.2.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="js/vendor/swiper.jquery.min.js"></script>-->
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            direction: 'vertical'
        });
        var url = location.href.split('#')[0];
        // console.log(url);

        var dataSpan = $('#userData');
        var data = {
            onMenuShareTimeline: {
                title: dataSpan.attr('data-onMenuShareTimelineTitle'),
                link: dataSpan.attr('data-onMenuShareTimelineLink'),
                imgUrl: dataSpan.attr('data-onMenuShareTimelineImgUrl'),
            },
            onMenuShareAppMessage: {
                title: dataSpan.attr('data-onMenuShareAppMessageTitle'),
                desc: dataSpan.attr('data-onMenuShareAppMessageDesc'),
                link: dataSpan.attr('data-onMenuShareAppMessageLink'),
                imgUrl: dataSpan.attr('data-onMenuShareAppMessageImgUrl'),
            },
        };
        console.log(data);
        // **AJAX 请求
        var xhr = new XMLHttpRequest();
        // xhr.open('get', 'http://beiweiqiang.com:3000/getsignature');
        xhr.open('get', `http://beiweiqiang.com:3000/signature?url=${url}`);
        // xhr.open('get', `http://localhost:3000/signature?url=${url}`);

        xhr.setRequestHeader('Content-type', 'application/json');
        // xhr.responseType = 'json';
        xhr.addEventListener('load', () => {
            var data = JSON.parse(xhr.response);
            console.log(data);
            var appId = data.appId; 
            console.log(appId);
            var jssdkConfig = {
                // 上线以后设为false
                debug: true,
                appId: appId,
                timestamp: data.timestamp,
                nonceStr: data.noncestr,
                signature: data.signature,
                jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                ]
            };
            //config接口注入权限验证配置
            window.wx.config(jssdkConfig);
            //jssdk调用成功的返回,回调函数里面就可以调用各个api了
            window.wx.ready(() => {
                console.log(jssdkConfig);
                console.log("jssdk准备就绪");
                window.wx.onMenuShareAppMessage({
                    title: data.onMenuShareAppMessage.title, // 分享标题
                    desc: data.onMenuShareAppMessage.desc, // 分享描述
                    link: data.onMenuShareAppMessage.link, // 分享链接
                    imgUrl: data.onMenuShareAppMessage.imgUrl, // 分享图标
                    trigger: function (res) {
                        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    },
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
                // 分享到朋友圈
                window.wx.onMenuShareTimeline({
                    title: data.onMenuShareTimeline.title, // 分享标题
                    link: data.onMenuShareTimeline.link, // 分享链接
                    imgUrl: data.onMenuShareTimeline.imgUrl, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () { 
                        // 用户取消分享后执行的回调函数
                    }
                });

            });
            //jssdk调用失败的返回
            window.wx.error((res) => {
                console.log("jssdk调用失败");        
                
            });

        });
        xhr.send();


    </script>

</body>

</html>